<div class="update-person-container">
  <h2 class="update-text">Personel Güncelle</h2>
  <form [formGroup]="personForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Ad</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="personForm.get('name')?.hasError('required') && personForm.get('name')?.touched">
        Ad alanı zorunludur.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Soyad</mat-label>
      <input matInput formControlName="surname" required />
      <mat-error *ngIf="personForm.get('surname')?.hasError('required') && personForm.get('surname')?.touched">
        Soyad alanı zorunludur.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="mail" required />
      <mat-error *ngIf="personForm.get('mail')?.hasError('required') && personForm.get('mail')?.touched">
        E-mail alanı zorunludur.
      </mat-error>
      <mat-error *ngIf="personForm.get('mail')?.hasError('email')">
        Geçerli bir e-mail adresi giriniz.
      </mat-error>
    </mat-form-field>

    <div class="button-group">
      <button type="submit" mat-raised-button color="primary" [disabled]="personForm.invalid">Güncelle</button>
      <button type="button" mat-raised-button color="warn" (click)="onCancel()">İptal</button>
    </div>
  </form>
</div>

