<h2>Personel Listesi</h2>

<table mat-table [dataSource]="persons" class="mat-elevation-z8">

<!-- name kolonu (ng-container kolon yapısı)-->
  <ng-container matColumnDef="name"> 
    <th mat-header-cell *matHeaderCellDef> Ad </th>
    <td mat-cell *matCellDef="let person"> {{ person.name }} </td>
  </ng-container>

  <!-- surname kolonu -->
  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef> Soyad </th>
    <td mat-cell *matCellDef="let person"> {{ person.surname }} </td>
  </ng-container>

    <!-- mail kolonu -->
  <ng-container matColumnDef="mail">
    <th mat-header-cell *matHeaderCellDef> E-mail </th>
    <td mat-cell *matCellDef="let person"> {{ person.mail }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
