<div class="container">
  <div class="container-form">
    <app-create-person
      *ngIf="!isEditMode"
      (personCreated)="onPersonChanged()">
    </app-create-person>

    <app-update-person
      *ngIf="isEditMode"
      [person]="selectedPerson"
      (cancel)="onCancelEdit()"
      (personUpdated)="onPersonChanged()">
    </app-update-person>
  </div>

  <div class="container-table">
    <app-person-list
      #personList
      (edit)="onEditPerson($event)">
    </app-person-list>
  </div>
</div>
